<html>
    <head>
       <title> My blog </title>
    </head>

    <body>
        <h1><a href="">Мой крутой блог</a></р1>
        {% for post in posts %}
            {% if post.published_date %}
                <div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p> {{ post.text }} </p>
                    <p> published: {{ post.published_date }}, by {{ post.author }} </p>
                    <p>*****************************************************************</p>
                </div>
            {% endif %}
        {% endfor %}
    </body>
</html>